.footer {
    background-color: #1b1b1c;
    padding: 20px 0;
    text-align: center;
    h3 {
        color: #ffffff;
    }
    li {
        margin-bottom: 10px;
        a img {
            width: 20px;
            height: 20px;
        }
    }
    
}