main {
    background: rgb(30, 27, 83);
    background: linear-gradient(90deg, rgba(30, 27, 83, 1) 57%, rgba(4, 4, 4, 1) 97%);
}
.carousel-inner {
    padding: 0;
}
.carousel-item img {
    width: 100%;
    height: auto;
}


.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 5%;

    .card {
        background-color: #202224;
        width: 100%; 
        height: auto; // Cambia a auto para mantener la proporción de la imagen
        border: 1px solid #eb0000;
        padding: 10px;
        text-align: center;
        color: #ddd;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center; 

        img {
            width: 100%;
            height: 200px; 
            object-fit: cover; 
            margin-bottom: 10px; 
        }

        p {
            margin: 0; 
        }
    }

    .card:hover {
        transform: translateY(-10px);
    }
}

.linea-divisoria {
    border: none;
    border-top: 2px solid #000000;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .card-container {
        flex-direction: row; 
        justify-content: space-between; 
    }

    .card {
        width: calc(33.33% - 20px); // Ajusta el tamaño de las tarjetas para que quepan tres por fila
    }
    
}
@media (max-width: 320px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: auto; // Asegura que la altura de la tarjeta se ajuste automáticamente en pantallas pequeñas
    }

    .card img {
        height: 200px; 
    }


    .carousel-inner {
        padding: 0; 
    }

    .carousel-item img {
        width: 100%;
        height: auto; 
    }
  }  

