main {
    padding: 0 10px;
    overflow-x: hidden;
}

.nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1b53;
    border-radius: 10px;

    .texto-nosotros {
        flex: 1;
        margin-right: 20px;
        border: 2px solid red;
        padding: 20px;
        background-color: #202224;
        color: #ffffff;
        border-radius: 10px;

        .titulo {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .descripcion {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .imgNosotros {
        flex: 1;
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

@media (max-width: 768px) {
    .nosotros {
        flex-direction: column;
        text-align: center;

        .texto-nosotros {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .imagen-nosotros {
            img {
                max-width: 80%; 
            }
        }
    }
    .formulario-ubi {
        padding: 15px;

        .formulario-contenido {
            max-width: 100%;
            padding: 15px;
        }

        .titulo-form {
            font-size: 20px;
        }
    }
}

@media (max-width: 321px) {
    .nosotros {
        .texto-nosotros {
            padding: 10px;
            .titulo {
                font-size: 18px;
            }

            .descripcion {
                font-size: 14px;
            }
        }

        .imagen-nosotros {
            img {
                max-width: 100%;
            }
        }
    }
    .formulario-ubi {
        padding: 10px;

        .titulo-form {
            font-size: 18px;
        }

        .formulario-contenido {
            padding: 10px;
            max-width: 100%;
        }

        form {
            label {
                font-size: 14px;
            }

            input {
                padding: 8px;
                font-size: 14px;
            }

            .terminos {
                label {
                    font-size: 12px;
                }
            }

            button {
                padding: 8px 10px;
                font-size: 14px;
            }
        }
    }
}